/************ CSS Reset ************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/************ Global Font ************/
body {
    font-family: 'Acme', sans-serif;
    background-color: #6495ed;
}

/************ Jquery classes ************/
.target_border {
    border: 6px solid !important;
    color: darkgreen;
}

.red_button {
    background-color: #ff0000 !important;
}
/************ Navigation Bar ************/
.remove_decoration {
    text-decoration: none !important;
}

.col_box_size {
    padding: 1%;
}

.nav_link_style {
    font-size: 2.5rem;
    padding: 0 1% 0 1%;
    color: #000000;
}
a:hover {
    color: darkgreen;
}
.icon_style {
    padding: 2% 0 0 0;
}

.navigation-bar {
    background-color: #4169e1;
}

/************ Header ************/

.h1_size {
    font-size: 5rem;
}
.h1_placement {
    padding-top: 13%;
}

.h1_feedback_placement {
    padding-top: 5rem;
}

.heading_border {
    border: 6px solid !important;
    color: darkgreen;
}

.img_placement {
    position: relative;
    text-align: center;

}
/************ Nickname Input ************/
#nickName {
    font-size: 1.5rem;
}
/************ Rules Carousel ************/
.rules_body {
    padding: 3rem 0 0 0;
}
.color_blue {
    background-color: #6495ed;
}
/************ TEMP category ************/
.compatible-headline {

}

/************ Main Body ************/
.form_placement {
    display: flex;
    justify-content: center;
    padding: 5% 5% 4% 5%;
}

.custom_button {
    margin-top: 5%;
    padding: 2% 10% 2% 10%;
    border-radius: 10%;
}

.feedback_button {
    margin-top: 5%;
    padding: 2% 5% 2% 5%;
    border-radius: 10%;
}

.h3_size {
    font-size: 2rem;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.car_text_style {
    text-align: center;
    font-size: 2rem;
    color: #006400;
}

.form-style {
    width: 50%;
    text-align: center;
    display: inline;
}

.feedback_fName {
    width: 50%;
    text-align: center;
    display: inline;
}

.btn-secondary {
    background-color: darkgreen !important;
}

#playButton {
    width: 25%;
    font-size: 1.5rem;
}
/************ Forms ************/
.center-form {
    width: 50rem;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/************ Compatibility Icons ************/
.compatible-headline {
    padding: 5rem 0 3rem 0;
    font-size: 2rem;
}
.device-text {
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
}
.plus-icons {
    color: darkgreen;
}



/************ Footer ************/
.fixed-bottom {
    padding-bottom: 10px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: currentColor;
    text-align: center;

}

.footer-text-color {
    color: #ffffff;
}


/************ Media Queries ************/
@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .h1_size {
        padding-top: 20%;
    }
    .input_body {
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .center-form {
        width: 40rem;
    }


}

@media (max-width: 900px) {
    .h1_size {
        padding-top: 15%;
    }
    .input_body {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .center-form {
        width: 40rem;
    }
    .nav_link_style {
        font-size: 2rem;
    }

}


@media (max-width: 768px) {
    .h1_size {
        font-size: 4.3rem;
        padding-top: 20%;
    }
    .input_body {
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .center-form {
        width: 30rem;
    }
    .custom_button {
        margin-top: 5%;
        padding: 2% 18% 2% 10%;
        border-radius: 10%;
    }

    .rules_body {
        padding: 0 0 0 0;
    }
    .car_text_style {
        font-size: 1.5rem;
    }
    .compatible-headline {
        padding: 3rem 0 2rem 0;
    }

}
@media (max-width: 576px) {
    .h1_size {
        font-size: 2.3rem;
        padding-top: 20%;
    }

    .nav_link_style {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .input_body {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .center-form {
        width: 20rem;
    }
    .player_name {
        width: 80%;
    }
    .media-form {
        width: 80%;
    }
    .compatible-container {
        display: none;
    }
    .custom_button {
        margin-top: 5%;
        padding: 2% 22% 2% 10%;
        border-radius: 10%;
    }

    .rules_body {
        padding: 0 0 0 0;
    }
    .car_text_style {
        font-size: 1.5rem;
    }

}
@media (max-width: 360px) {
    .h1_size {
        font-size: 2rem;
        padding-top: 20%;
    }

    .nav_link_style {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .input_body {
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .center-form {
        width: 16rem;
    }

    .player_name {
        width: 100%;
    }

    .media-form {
        width: 100%;
    }
    .compatible-container {
        display: none;
    }

    .custom_button {
        margin-top: 5%;
        padding: 2% 25% 2% 10%;
        border-radius: 10%;
    }

    .rules_body {
        padding: 0 0 0 0;
    }
    .car_text_style {
        font-size: 1.5rem;
    }
}