/************ CSS Reset ************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/************ Global Font ************/
body {
    font-family: 'Acme', sans-serif;
    background-color: #6495ed;
}

/************ Global Background colors ************/

.light_blue-bg {
    background-color: #6495ed;
}

.dark_blue_bg {
    background-color: #4169e1;
}

.red_bg {
    background-color: #ff0000;
}

.dark_green_bg {
    background-color: #006400;
}

.yellow_bg {
    background-color: #ffff00 !important;
}

.black_bg {
    background-color: #000000;
}
/************ Global colors ************/
.dark_green_cl {
    color: #006400;
}

.black_cl {
    color: #000000;
}

.white_cl {
    color: #ffffff !important;
}

.red_cl {
    color: #ff0000;
}

/************ Global Border Remover ************/
.remove_border {
    border: none;
}

/************ Global decoration Remover ************/
.remove_decoration {
    text-decoration: none !important;
}

/************ Global Margin Remover ************/
.no_margin {
    margin: 0;
}
/************ Global Form Styling ************/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/************ Game Over box ************/
.gameOver-display {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}


/************ Navigation-bar Hoover Colours ************/
.target_border {
    border: 6px solid !important;
    color: #006400;
}
/************ Navigation Bar ************/
.col_box_size {
    padding: 1%;
}

.nav_link_style {
    font-size: 2.5rem;
    padding: 0 1.2rem 0 0.1rem;
}

a:hover {
    color: #006400;
}

.icon_style {
    padding: 2% 0 0 0;
}
/************ Header ************/

.h1_size {
    font-size: 5rem;
}
.h1_placement {
    padding-top: 13%;
}

.h1_feedback_placement {
    padding-top: 5rem;
    padding-bottom: 10%;
}

.heading_border {
    border: 6px solid !important;
}


/************ Rules Carousel ************/
.rules_body {
    padding: 3rem 0 0 0;
}

.center_rules_card {
    margin: 0 auto;
    float: none;
}

.card_text_rules {
    text-align: center;
    font-size: 2rem;
}

/************ Nickname form and Player Button ************/
.player_form_placement {
    display: flex;
    justify-content: center;
    padding: 5% 5% 4% 5%;
}

#nickName {
    font-size: 1.5rem;
    width: 100%;
}

.player_form_style {
    width: 50%;
    text-align: center;
    display: inline;
}


#playButton {
    width: 50%;
    font-size: 1.5rem;
}

.custom_play_button {
    margin-top: 5%;
    padding: 2% 10% 2% 10%;
    border-radius: 10%;
}

.max_chara_display {
    display: block;
}

/************ Feedback Form ************/
.feedback_form_style {
    width: 30%;
    text-align: center;
    display: inline;
}

.feedback_button {
    margin-top: 5%;
    padding: 2% 5% 2% 5%;
    border-radius: 10%;
}


.feedback_fName {
    width: 50%;
    text-align: center;
    display: inline;
}

.media-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
/************ Compatibility Icons ************/
.compatible-headline {
    padding: 4rem 0 3rem 0;
    font-size: 2rem;
}
.device-text {
    padding: 1rem 0 0 0;
    font-size: 1.5rem;
}
/************ Overlay Styling (Modified W3 Version ************/
.col-auto {
    padding: 0 !important;
}

.game_container {
    position: relative;
    width: 50%;
    max-width: 800px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    /*padding: 20px;*/
    text-align: center;
}

/************ Game Over ************/
.gameover_style {
    padding: 5rem 0 0 0;
    font-size: 7rem;
}
.top_score_style {
    padding: 5rem 0 0 0;
    font-size: 3rem;
}
hr {
    border-top: 2px solid #ffffff ;
}

.final_nick_style {
    display: inline;

}

.final_score_style {
    display: inline;

}

.play_againButton {
    padding: 2% 2% 2% 2%;
}

/************ Modal styling ************/
.modal-title {
    font-size: 2rem;
}

.modal_desktop {
    font-size: 1.5rem;
    color: darkgreen;
}
.list_space {
    padding: 3px 10px 10px 10px;
    margin-left: 15px;
}


img {
    max-width: 20%;
    height: auto;
}

/************ Game Styling ************/
canvas {
    border: 1px solid #ffffff;
    background-color: #000000;
    display: block;
    width: 100%;
    height: auto;
}
.h1_placement_game {
    padding-top: 5%;
}

.top_control {
    padding: 10px 0 0 0;
}
/************ Game Controls ************/
.control-boxes {
    height: 50px;
    width: 50px;
    background-color: #555555;
}

.control_display {
    display: inline-block;
    text-align: center;
}

.top_control {
    display: inline-block;
    margin: 0 0 3px 0;
}
/************ Nickname ************/
.update_nick {
    font-size: 3rem;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;   /* Height of the footer */
    background-color: #21262a;
}

/************ Media Queries ************/
@media (min-width: 1025px) {
    .controls {
        display: none;
    }
}

@media (max-width: 1024px) {
    .h1_size {
        padding-top: 10%;
    }
    .player_input {
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .form-width {
        width: 40rem;
    }
    .control-boxes {
        height: 90px;
        width: 90px;
    }
    .update_nick {
        font-size: 3rem;
    }
    .game_container {
        width: 90%;
        max-width: 800px;
    }


}

@media (max-width: 900px) {
    .h1_size {
        padding-top: 15%;
    }
    .player_input {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .form-width {
        width: 40rem;
    }
    .nav_link_style {
        font-size: 2rem;
    }
    .media-text {
        width: 60%;
    }


}


@media (max-width: 768px) {
    .h1_size {
        font-size: 4.3rem;
        padding-top: 10%;
    }
    .player_input {
        padding-top: 10%;
        padding-bottom: 5%;
    }
    .form-width {
        width: 30rem;
    }
    .custom_play_button {
        margin-top: 5%;
        padding: 2% 10% 2% 10%;
        border-radius: 10%;
    }

    .rules_body {
        padding: 0 0 0 0;
    }
    .car_text_style {
        font-size: 1.5rem;
    }
    .compatible-headline {
        padding: 3rem 0 2rem 0;
    }
    .media-text {
        width: 60%;
    }

    .control-boxes {
        height: 70px;
        width: 70px;
    }
    .player_form_style {
        width: 40%;
    }
    .update_nick {
        font-size: 2.5rem;
    }
    .game_container {
        width: 80%;
        max-width: 800px;
    }

    .gameover_style {
        padding: 2rem 0 0 0;
        font-size: 5rem;
    }
    .top_score_style {
        padding: 3rem 0 0 0;
        font-size: 3rem;
    }

}

@media (max-width: 767px) {
    .compatible-container {
        display: none;
    }
}


@media (max-width: 576px) {
    .h1_size {
        font-size: 2.3rem;
        padding-top: 20%;
    }

    .nav_link_style {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .player_input {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .form-width {
        width: 20rem;
    }
    .player_name {
        width: 80%;
    }
    .player_form_style {
        width: 40%;
    }

    .feedback_form_style {
        width: 80%;
    }
    .compatible-container {
        display: none;
    }
    .custom_play_button {
        margin-top: 5%;
        padding: 2% 10% 2% 10%;
        border-radius: 10%;
    }

    .rules_body {
        padding: 0 0 0 0;
    }
    .car_text_style {
        font-size: 1.5rem;
    }
    .media-text {
        width: 100%;
    }

    .update_nick {
        font-size: 2rem;
    }
    #game_heading {
        display: none
    }
    .game_container {
        width: 100%;
        max-width: 800px;
    }
    .game_container {
        width: 100%;
        max-width: 800px;
    }
    .gameover_style {
        padding: 1rem 0 0 0;
        font-size: 3rem;
    }
    .top_score_style {
        padding: 1rem 0 0 0;
        font-size: 2rem;
    }
    .final_nick_style {
        font-size: 1.1rem;
    }
    .final_score_style {
        font-size: 1.1rem;
    }
    .play_againButton {
        font-size: 1.1rem;
    }

}
@media (max-width: 360px) {
    .h1_size {
        font-size: 2rem;
        padding-top: 20%;
    }

    .nav_link_style {
        font-size: 1.5rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .player_input {
        padding-top: 5%;
        padding-bottom: 10%;
    }

    .form-width {
        width: 16rem;
    }

    .player_name {
        width: 100%;
    }

    .player_form_style {
        width: 35%;
    }
    .feedback_form_style {
        width: 80%;
    }
    .compatible-container {
        display: none;
    }

    .custom_play_button {
        margin-top: 5%;
        padding: 2% 10% 2% 10%;
        border-radius: 10%;
    }

    .rules_body {
        padding: 0 0 0 0;
    }
    .car_text_style {
        font-size: 1.5rem;
    }
    .media-text {
        width: 100%;
    }

    .control-boxes {
        height: 50px;
        width: 50px;

    }
    .update_nick {
        font-size: 2rem;
    }
    #game_heading {
        display: none
    }
    .game_container {
        width: 100%;
        max-width: 800px;
    }
    .gameover_style {
        padding: 1rem 0 0 0;
        font-size: 2rem;
    }
    .top_score_style {
        padding: 1rem 0 0 0;
        font-size: 1.5rem;
    }
    .final_nick_style {
        font-size: 0.9rem;
    }
    .final_score_style {
        font-size: 0.9rem;
    }
    .play_againButton {
        font-size: 0.9rem;
    }
}